@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(../imagem/img_contato.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*.........Menu........Menu...............*/

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem hsl(283, 100%, 84%);
    width: 100%;
    background-color:rgb(89, 6, 96);
    transition: all 0.5s;
    position: fixed;
}

.logo {
    color: white;
    font-size: 1.7rem;
    font-weight: 600;

}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-menu a {
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.nav-menu :hover {
    color: rgb(143, 19, 143);
}

/*.......................................Formulário.....................*/

.formulario{
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    padding-top:2cm;
}


section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 50px;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

section h2{
    color:#f5f5f5;
    font-size: 2.5rem;
    margin: 2rem;
}

section form{
    display:flex;
    flex-direction: column;
    width:100%;
}

form label{
    color:#f5f5f5;
    font: size 17px;
    margin-bottom: 4px;
}

form input{
    padding: 10px;
    outline: none;
    border: 0;
    margin-bottom: 10px;
    font-size: 15px;
    transition: all 0.5s; 
}

form input:focus{
    border-radius: 16px;
}

form textarea{

    padding: 5px;
    outline: none;
    border:0px;
    font-size: 15px;
    margin-bottom:20px;
    transition: all 0.5s;
}

form textarea:focus{
    border-radius: 16px;
}
form button{
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 1px solid #f5f5f5;
    color: #f5f5f5;
    transition: all 0.1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #f5f5f5;
    color: #101026;
    border-radius: 16px;
}

/*.........................Pagina obrigado......................*/

.obrigado{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

h1{
    font-size: 45px;
    color: #f5f5f5;
    margin-bottom: 30px;
}

p{
    color: #f5f5f5;
    margin-bottom: 50px;
}

.btn{
    padding: 15px 35px;
    background:transparent;
    color: #101026;
    font-size: 18px;
    transition: all 0.1s;
}

.btn:hover{
    border-radius: 16px;
}
#logo{
    width:80px;
    height: 80px;
}