@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    
 background-image: url(../imagem/img_contato.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

/*..................Menu.............Menu...........*/

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow:  0 0.1rem 0.5rem hsl(283, 100%, 84%);
    width: 100%;
    background-color:rgb(89, 6, 96);
    transition: all 0.5s;
    position: fixed;
}

.logo {
    color: white;
    font-size: 1.7rem;
    font-weight: 600;

}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-menu a{
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.nav-menu :hover {
    color: purple;
}

/*.......Quem somos..................*/

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 2%;
    font-size: 25px;
}

.home-text {
    max-width: 100rem;

}

.home-text .text-h4 {
    font-size: larger;
    color: rgb(89,6,96);
    margin-bottom: 1rem;
}

.home-text .text-h1 {
    font-size: larger;
    color: rgb(89,6,96);
    margin-bottom: 1rem;
}

.home-text .text-h2 {
    font-size: larger;
    color: rgb(89,6,96);
    margin-bottom: 1rem;
}

.home-text .text-h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 1rem;
}

.home-text .text-h5 {
    font-size: 25px;
    color: white;
    margin-bottom: 1rem;
}

.home-text .text-h6 {
    font-size: 25px;
    color: white;
    margin-bottom: 1rem;
}
